@model CineMaxCOL_Entity.Tarjeta

    <div class="max-w-lg mx-auto p-6 bg-white rounded-xl shadow-md border border-olive-700">
    <h2 class="text-2xl font-semibold text-olive-900 mb-6 text-center">Titular</h2>

    <div class="space-y-4">
        <div class="flex justify-between border-b border-olive-300 pb-2">
        <span class="font-medium text-olive-800">Nombre Titular:</span>
        <span class="text-olive-700">@Model.NombreTitular</span>
        </div>
        <div class="flex justify-between border-b border-olive-300 pb-2">
        <span class="font-medium text-olive-800">Correo Electrónico:</span>
        <span class="text-olive-700">@Model.CorreoElectronico</span>
        </div>
        <div class="flex justify-between border-b border-olive-300 pb-2">
        <span class="font-medium text-olive-800">Número Tarjeta:</span>
        <span class="text-olive-700">@Model.NumeroTarjeta</span>
        </div>
        <div class="flex justify-between border-b border-olive-300 pb-2">
        <span class="font-medium text-olive-800">Fecha Expiración:</span>
        <span class="text-olive-700">@Model.FechaExpiracion</span>
        </div>
        <div class="flex justify-between border-b border-olive-300 pb-2">
        <span class="font-medium text-olive-800">Tipo Tarjeta:</span>
        <span class="text-olive-700">@Model.TipoTarjeta</span>
        </div>
    </div>
    <div class="max-w-lg mx-auto p-6 bg-white rounded-xl shadow-md border border-olive-700">
    <h2 class="text-2xl font-semibold text-olive-900 mb-6 text-center">Funcion Y demas</h2>

    <div class="space-y-4">
        <div class="flex justify-between border-b border-olive-300 pb-2">
        <span class="font-medium text-olive-800">Nombre Titular:</span>
        <span class="text-olive-700">@Model.NombreTitular</span>
        </div>
        <div class="flex justify-between border-b border-olive-300 pb-2">
        <span class="font-medium text-olive-800">Correo Electrónico:</span>
        <span class="text-olive-700">@Model.CorreoElectronico</span>
        </div>
        <div class="flex justify-between border-b border-olive-300 pb-2">
        <span class="font-medium text-olive-800">Número Tarjeta:</span>
        <span class="text-olive-700">@Model.NumeroTarjeta</span>
        </div>
        <div class="flex justify-between border-b border-olive-300 pb-2">
        <span class="font-medium text-olive-800">Fecha Expiración:</span>
        <span class="text-olive-700">@Model.FechaExpiracion</span>
        </div>
        <div class="flex justify-between border-b border-olive-300 pb-2">
        <span class="font-medium text-olive-800">Tipo Tarjeta:</span>
        <span class="text-olive-700">@Model.TipoTarjeta</span>
        </div>
    </div>

    <button class="mt-6 w-full bg-[#55692d] hover:bg-olive-800 text-white font-semibold py-2 rounded-lg transition-colors">
        Confirmar Compra
    </button>


    </div>

