@model CineMaxCOL_Web.Models.FunctionalityDrawer.DTO_ToLandingPage

<div class="carousel w-full h-auto md:h-screen">
    <div id="slide1" class="carousel-item relative w-full grid grid-cols-1 md:grid-cols-2">
        <div class="flex items-center justify-center bg-white p-6">
            <div class="text-center md:text-left max-w-md">
                <h1 class="text-4xl md:text-5xl text-black font-bold">INTERESTELAR</h1>
                <p class="py-4 text-base md:text-lg text-black">
                    Un grupo de exploradores se embarca en una misión interestelar para encontrar un nuevo hogar para la
                    humanidad, enfrentando desafíos más allá del tiempo y el espacio.
                </p>
                <a href="@Url.Action("Index", "DetailsSelectedMovie", new { id = 1 })"
                    class="btn btn-primary bg-[#55692d] border-none hover:bg-[#445424]">Ver Película</a>
            </div>
        </div>
        <!-- Imagen -->
        <div>
            <img src="https://megustaelcine.com/wp-content/uploads/2025/01/Interestelar-6-1024x665.jpg"
                class="w-full h-full object-cover" />
        </div>
        <!-- Flechas -->
        <div class="absolute flex justify-between transform -translate-y-1/2 left-4 right-4 top-1/2">
            <a href="#slide4" class="btn btn-circle bg-[#445424] border-none text-white">❮</a>
            <a href="#slide2" class="btn btn-circle bg-[#445424] border-none text-white">❯</a>
        </div>
    </div>

    <!-- Slide 2: Duna -->
    <div id="slide2" class="carousel-item relative w-full grid grid-cols-1 md:grid-cols-2">
        <div class="flex items-center justify-center bg-white p-6">
            <div class="text-center md:text-left max-w-md">
                <h1 class="text-4xl md:text-5xl text-black font-bold">DUNA</h1>
                <p class="py-4 text-base md:text-lg text-black">
                    En un futuro lejano, Paul Atreides debe proteger el planeta más importante del universo mientras
                    enfrenta visiones de su destino y guerras interplanetarias.
                </p>
                <a href="@Url.Action("Index", "DetailsSelectedMovie", new { id = 2 })"
                    class="btn btn-primary bg-[#55692d] border-none hover:bg-[#445424]">Ver Película</a>
            </div>
        </div>
        <div>
            <img src="https://back.procinal.com/imagenes/banners/330_banner%20home.jpg"
                class="w-full h-full object-cover" />
        </div>
        <div class="absolute flex justify-between transform -translate-y-1/2 left-4 right-4 top-1/2">
            <a href="#slide1" class="btn btn-circle bg-[#445424] border-none text-white">❮</a>
            <a href="#slide3" class="btn btn-circle bg-[#445424] border-none text-white">❯</a>
        </div>
    </div>

    <!-- Slide 3: Oppenheimer -->
    <div id="slide3" class="carousel-item relative w-full grid grid-cols-1 md:grid-cols-2">
        <div class="flex items-center justify-center bg-white p-6">
            <div class="text-center md:text-left max-w-md">
                <h1 class="text-4xl md:text-5xl text-black font-bold">OPPENHEIMER</h1>
                <p class="py-4 text-base md:text-lg text-black">
                    La historia del físico J. Robert Oppenheimer y su papel en el desarrollo de la bomba atómica durante
                    la Segunda Guerra Mundial. Ciencia, dilemas éticos y consecuencias.
                </p>
                <a href="@Url.Action("Index", "DetailsSelectedMovie", new { id = 3 })"
                    class="btn btn-primary bg-[#55692d] border-none hover:bg-[#445424]">Ver Película</a>
            </div>
        </div>
        <div>
            <img src="https://pics.filmaffinity.com/Oppenheimer-920699981-mmed.jpg"
                class="w-full h-full object-cover" />
        </div>
        <div class="absolute flex justify-between transform -translate-y-1/2 left-4 right-4 top-1/2">
            <a href="#slide2" class="btn btn-circle bg-[#445424] border-none text-white">❮</a>
            <a href="#slide4" class="btn btn-circle bg-[#445424] border-none text-white">❯</a>
        </div>
    </div>

    <!-- Slide 4: Avatar -->
    <div id="slide4" class="carousel-item relative w-full grid grid-cols-1 md:grid-cols-2">
        <div class="flex items-center justify-center bg-white p-6">
            <div class="text-center md:text-left max-w-md">
                <h1 class="text-4xl md:text-5xl text-black font-bold">AVATAR</h1>
                <p class="py-4 text-base md:text-lg text-black">
                    En Pandora, un ex-marine se une a una misión de exploración y termina involucrado en una batalla por
                    el futuro del planeta y su gente, los Na'vi.
                </p>
                <a href="@Url.Action("Index", "DetailsSelectedMovie", new { id = 4 })"
                    class="btn btn-primary bg-[#55692d] border-none hover:bg-[#445424]">Ver Película</a>
            </div>
        </div>
        <div>
            <img src="https://m.media-amazon.com/images/I/81QZa36yiOL._AC_UF1000,1000_QL80_.jpg"
                class="w-full h-full object-cover" />
        </div>
        <div class="absolute flex justify-between transform -translate-y-1/2 left-4 right-4 top-1/2">
            <a href="#slide3" class="btn btn-circle bg-[#445424] border-none text-white">❮</a>
            <a href="#slide1" class="btn btn-circle bg-[#445424] border-none text-white">❯</a>
        </div>
    </div>
</div>

@if (!Model.DTO_ToLandingPage_AllMovies.Any())
{
    <h1>TENEMOS PROBLEMAS CON LAS PELICULAS</h1>
}
else
{
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 justify-items-center items-start">
    <fieldset class="fieldset">
        <legend class="fieldset-legend">Selecciona tu municipio</legend>
        <form asp-action="NewInformationByFilterMunicipality" asp-controller="Home" method="post" id="municipalityForm">
            <select name="id" class="select" onchange="document.getElementById('municipalityForm').submit();">
                <option disabled selected>Selecciona el Municipio</option>
                @foreach (var item in Model.DTO_ToLandingPage_AllMunicipality)
                {
                    <option value="@item.Id">@item.NombreMunicipio</option>
                }
            </select>
        </form>
    </fieldset>

    <div class="bg-white py-4">
    <div class="flex justify-center md:justify-end w-full gap-3 px-6 items-center">
        <a href="#estrenos"
            class="text-white h-10 w-28 rounded-xl text-center flex items-center justify-center bg-[#55692d] font-bold hover:bg-[#445424]">Estrenos</a>
        <a href="#proximamente"
            class="text-white h-10 w-28 rounded-xl text-center flex items-center justify-center bg-[#55692d] font-bold hover:bg-[#445424]">Pronto</a>
    </div>
</div>

    <div class="col-span-full flex justify-center">
        <div class="flex flex-wrap justify-center bg-white rounded-full shadow-lg px-4 py-2 gap-3 sm:gap-4">
            <button class="btn btn-sm rounded-full border-2 border-cyan-300 text-cyan-500 bg-white">Todas</button>
            <button class="btn btn-sm rounded-full bg-transparent hover:bg-cyan-100">Preventa</button>
            <button class="btn btn-sm rounded-full bg-transparent hover:bg-cyan-100">Estrenos</button>
            <button class="btn btn-sm rounded-full bg-transparent hover:bg-cyan-100">Cartelera</button>
            <button class="btn btn-sm rounded-full bg-transparent hover:bg-cyan-100">Pronto</button>
        </div>
        </div>

            <fieldset class="fieldset">
        <legend class="fieldset-legend">Selecciona tu Cine</legend>
        <form asp-action="NewInformationByFilterMunicipality" asp-controller="Home" method="post" id="municipalityForm">
            <select name="id" class="select" onchange="document.getElementById('municipalityForm').submit();">
                <option disabled selected>Selecciona el Cine</option>
                @foreach (var item in Model.DTO_ToLandingPage_AllMunicipality)
                {
                    <option value="@item.Id">@item.NombreMunicipio</option>
                }
            </select>
        </form>
    </fieldset>

    </div>
    <div class="p-3 overflow-hidden overflow-y-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        @foreach (var item in Model.DTO_ToLandingPage_AllMovies)
        {
            <div id="peliculas" class="flex justify-center">
                <div class="card w-72 bg-base-100 shadow-xl rounded-xl">
                    <div class="bg-[#e3e5e8] text-center py-4 rounded-t-xl">
                        <h1 class="text-xl font-bold text-[#55692d]">@item.Titulo</h1>
                    </div>

                    @if (string.IsNullOrEmpty(item.ImagenUrl))
                        {
                            <div class="flex w-52 flex-col gap-4">
                            <div class="skeleton h-32 w-full"></div>
                            <div class="skeleton h-4 w-28"></div>
                            <div class="skeleton h-4 w-full"></div>
                            <div class="skeleton h-4 w-full"></div>
                            </div>
                        }
                    <figure class="px-4 pt-4">
                        <img src="@item.ImagenUrl"
                            alt="@item.Titulo" class="rounded-lg shadow-md object-cover w-full h-48 sm:h-56 md:h-64" />
                    </figure>

                    <div class="card-body py-4 bg-[#e3e5e8] rounded-b-xl flex justify-center items-center">
                    <a href="@Url.Action("Index", "DetailsSelectedMovie", new { SelectId = item.Id, Identificate = item.Identificador })"
                    class="btn w-48 bg-[#445424] hover:bg-[#55692d] text-white font-bold border-none">
                        Ver Película
                    </a>
                    </div>
                </div>
            </div>
        }
    </div>

}


</div>
<div class="bg-[#e3e5e8] w-full mt-15">
    <div class="flex w-full h-85">
        <div class="w-full text-black flex flex-col justify-center items-center">
            <div>
                <h1 class="text-center text-3xl font-bold">¡UNETE A CMC CLUB!</h1>
                <h2 class="text-center text-xl px-8 whitespace-pre-line">OBTEN UN 20% DE DESCUENTO EN
                    BOLETOS, CONFITERIA Y CAFETERIA</h2>
            </div>

            <div class="w-120 mt-18 flex justify-between relative">
                <button
                    class="hover:bg-[#545402] hover:cursor-pointer p-2 w-40 bg-[#808000] rounded-md text-white">INICIAR
                    SESIÓN</button>
                <button
                    class="hover:bg-[#545402] hover:cursor-pointer p-2 w-40 bg-[#808000] rounded-md text-white">REGISTRARSE</button>
            </div>
        </div>

        <div class="bg-[#808000] w-280 p-4 flex justify-center items-center">
            <div class="flex flex-col gap-4 px-15">
                <button
                    class="hover:cursor-pointer hover:bg-[#b6b7ba] text-center text-black flex justify-between w-85 items-center bg-gray-200 px-4 py-2">
                    ¿CMC CLUB? <span>▾</span>
                </button>
                <button
                    class="hover:cursor-pointer hover:bg-[#b6b7ba] text-center text-black flex justify-between items-center bg-gray-200 px-4 py-2">
                    PUNTOS CMC <span>▾</span>
                </button>
                <button
                    class="hover:cursor-pointer hover:bg-[#b6b7ba] text-center text-black flex justify-between items-center bg-gray-200 px-4 py-2">
                    OBTEN BONOS <span>▾</span>
                </button>
                <button
                    class="hover:cursor-pointer hover:bg-[#b6b7ba] text-center text-black flex justify-between items-center bg-gray-200 px-4 py-2">
                    PROMOCIONES RELAMPAGO <span>▾</span>
                </button>
            </div>
        </div>

    </div>


<script>
    window.addEventListener('beforeunload', () => {
        localStorage.setItem('scrollPos', window.scrollY);
    });

    window.addEventListener('load', () => {
        const pos = localStorage.getItem('scrollPos');
        if (pos) {
            window.scrollTo(0, parseInt(pos));
            localStorage.removeItem('scrollPos');
        }
    });
</script>