@model CineMaxCOL_Web.Models.Cine.CineCompletoViewModel
@using Microsoft.AspNetCore.Mvc.Rendering

<h1 class="bg-white w-full h-auto p-3 text-center bg-black font-bold">CINES TOTALES</h1>

@*AGREGAR JAVASCRIPT PARA EL CAMBIO DINAMICO DE LAS OPCIONES DESPLEGABLES*@


<label for="Agregar_Nuevo_Cine">Agregar Nuevo Cine</label>
<input type="checkbox" id="Agregar_Nuevo_Cine" class="modal-toggle" />
    <div class="modal" role="dialog">
        <div class="bg-white w-120 h-90 overflow-hidden overflow-y-auto text-black rounded-xl">
            @*cambiar direccionamiento del controlador*@
            <form action="@Url.Action("Agregar","Cine")" method="post" enctype="multipart/form-data" class="flex flex-col justify-center items-center p-5">
                <input type="hidden" name="Cine_s.Id" value="0">
                <input type="hidden" name="tipo" value="Cines">

                <label class="font-bold mt-4">Nombre del Cine</label>
                <input type="text" name="Cine_s.Nombre" class="text-center rounded-xl bg-gray-300 p-1">
                
                <label class="font-bold mt-4">Ubicacion del Cine</label>
                <select name="Cine_s.IdUbicacion">
                    @foreach (var municipios in Model.Municipios_Lista)
                    {
                        @foreach(var ubicacion in municipios.Ubicacions)
                        {
                            <option value="@ubicacion.Id">
                            @ubicacion.Localidad - (@municipios.NombreMunicipio)
                            </option>
                        }
                    }
                </select>

                <label class="font-bold mt-4">Telefono del Cine</label>
                <input type="text" name="Cine_s.Telefono" class="text-center rounded-xl bg-gray-300 p-1">
                
                <label class="font-bold mt-4">Email del Cine</label>
                <input type="email" name="Cine_s.Email" class="text-center rounded-xl bg-gray-300 p-1">

                <button type="submit">Agregar</button>
            </form>
        </div>
        <label for="Agregar_Nuevo_Cine" class="mr-6 btn border-none bg-[#808000] text-white">Cancelar</label>
    </div>




<div class="w-full h-260 p-4 bg-gray-200 grid grid-cols-4 gap-3 justify-items-center align-items-center overflow-y-auto">
    @foreach(var muni in Model.Municipios_Lista)
    {
        @foreach(var locali in muni.Ubicacions)
        {
            @foreach(var cine in locali.Cines)
            {
                <div class="bg-white w-40 h-40 rounded-xl">
                    <label class="font-bold mt-4">Nombre</label>
                    <h1>@cine.Nombre</h1>
                    <h1>@cine?.IdUbicacionNavigation?.Localidad</h1>
                    <h1>@cine?.IdUbicacionNavigation?.IdMunicipioNavigation?.NombreMunicipio</h1>
                    <h1>Peliculas: @cine?.Peliculas?.Count</h1>
                    <h1>Alimentos: @cine?.CineComida?.Count</h1>
                    <label for="Actualizar_Cine_@cine.Id">Ver Más</label>
                    <label for="Agregar_Pelicula_Cine">Agregar Pelicula</label>
                    <a href="@Url.Action("Eliminar", "Cine", new { id = @cine.Id, tipo = "Cines" })" class="text-sm bg-red-700 text-white rounded-xl w-24 p-1 text-center">Eliminar</a>
                </div>

                <input type="checkbox" id="Actualizar_Cine_@cine.Id" class="modal-toggle" />
                    <div class="modal" role="dialog">
                        <div class="bg-white w-120 h-90 overflow-hidden overflow-y-auto text-black rounded-xl">
                            @*cambiar direccionamiento del controlador*@
                            <form action="@Url.Action("Agregar","Cine")" method="post" enctype="multipart/form-data" class="flex flex-col justify-center items-center p-5">
                                <input type="hidden" name="Cine_s.Id" value="@cine.Id">
                                <input type="hidden" name="tipo" value="Cines">

                                <label class="font-bold mt-4">Nombre</label>
                                <input type="text" name="Cine_s.Nombre" class="text-center" value="@cine.Nombre">

                                <select name="Cine_s.IdUbicacion">
                                    @foreach (var municipios in Model.Municipios_Lista)
                                    {
                                        @foreach(var ubicacion in municipios.Ubicacions)
                                        {
                                            <option value="@ubicacion.Id" selected="@(@cine?.IdUbicacionNavigation?.Id == ubicacion.Id)">
                                            @ubicacion.Localidad - (@municipios.NombreMunicipio)
                                            </option>
                                        }
                                    }
                                </select>

                                <input type="text" name="Cine_s.Telefono" class="text-center" value="@cine.Telefono">

                                <input type="email" name="Cine_s.Email" class="text-center" value="@cine.Email">

                                <button type="submit">Actualizar</button>
                            </form>
                        </div>
                        <div class="modal-action">
                        <label for="Actualizar_Cine_@cine.Id" class="mr-6 btn border-none bg-[#808000] text-white">Cancelar</label>
                    </div>
                    </div>

            
                <input type="checkbox" id="Agregar_Pelicula_Cine" class="modal-toggle" />
                    <div class="modal" role="dialog">
                        <div class="bg-white grid grid-cols-4 gap-3 p-3">
                            @{
                                var titulosMostrados = new HashSet<string>();
                            }
                            @foreach (var pelicula in Model.Peliculas_Lista)
                            {
                                if (titulosMostrados.Contains(pelicula.Titulo))
                                {
                                    continue;
                                }

                                titulosMostrados.Add(pelicula.Titulo);

                                <div class="bg-red-200 w-40 h-18">
                                    <h3 class="bg-gray-200 rounded-xl p-2 text-center">@pelicula.Titulo</h3>
                                    <form action="@Url.Action("Agregar_Pelicula_Cine","Pelicula")" method="post">Agregar a este cine
                                        <input type="hidden" name="Id" value="0">
                                        <input type="hidden" name="Titulo" value="@pelicula.Titulo">
                                        <input type="hidden" name="Titulo" value="@pelicula.Genero">
                                        <input type="hidden" name="Duracion" value="@pelicula.Duracion">
                                        <input type="hidden" name="Clasificacion" value="@pelicula.Clasificacion">
                                        <input type="hidden" name="Sinopsis" value="@pelicula.Sinopsis">
                                        <input type="hidden" name="Estado" value="@pelicula.Estado">
                                        <input type="hidden" name="Pais" value="@pelicula.Pais">
                                        <input type="hidden" name="Director" value="@pelicula.Director">
                                        <input type="hidden" name="Titulo" value="@pelicula.Titulo">
                                        <input type="hidden" name="IdCine" value="@cine.Id">
                                        <input type="hidden" name="CreatedAt" value="@pelicula.Id">
                                        <input type="hidden" name="ImagenUrl" value="@pelicula.Id">
                                        <input type="hidden" name="Identificador" value="@pelicula.Id">
                                    </form>
                                    <p>@pelicula.Sinopsis</p>
                                </div>
                            }
                        </div>

                        <div class="modal-action">
                            <label for="Agregar_Pelicula_Cine" class="mr-6 btn border-none bg-[#808000]     text-white">Cancelar</label>
                        </div>
                </div>
                    
            }
        }
    }
    <div class="flex justify-center gap-4 mt-6">
    <form method="post" action="@Url.Action("Cines_Inicial","Cine")">
        <input type="hidden" name="vista" value="municipios" />
        <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">Municipios</button>
    </form>

    <form method="post" action="@Url.Action("Cines_Inicial","Cine")">
        <input type="hidden" name="vista" value="localidades" />
        <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">Localidades</button>
    </form>
</div>
</div>


<div class="bg-yellow-200 h-auto">
@if (ViewBag.Vista == "municipios")
{
    @await Html.PartialAsync("_Municipios_Totales", Model)
}else if(ViewBag.Vista == "localidades")
{
    @await Html.PartialAsync("_Localidades_Totales", Model)
}
</div>

