@model CineMaxCOL_Web.Models.PuestosYReservas.DTO_PuestosYReservar
@{
    int usuarioId;
}

<div class="bg-gray-100 min-h-screen py-10">
    <div class="bg-white max-w-4xl mx-auto p-6 rounded-lg shadow-md">
        <div class="w-full h-6 bg-gray-400 mt-8 text-center font-semibold flex items-center justify-center rounded">
            Pantalla
        </div>

        <div class="flex space-x-6 mt-4 justify-center">
            <div class="flex items-center space-x-2">
                <div class="w-4 h-4 bg-gray-500 rounded-full"></div>
                <span>Disponible</span>
            </div>
            <div class="flex items-center space-x-2">
                <div class="w-4 h-4 bg-blue-600 rounded-full"></div>
                <span>Seleccionado</span>
            </div>
            <div class="flex items-center space-x-2">
                <div class="w-4 h-4 bg-red-500 rounded-full"></div>
                <span>Ocupado</span>
            </div>
        </div>
        <h2 class="text-2xl font-bold mb-6 text-center">Selecciona tu silla</h2>

        @if (!Model.sillasPorFuncions.Any())
        {
            <p>Por este momento tenemos problemas...</p>
        }
        else
        {
            @foreach (var item in Model.sillasPorFuncions)
            {
                usuarioId = item.IdUsuario ?? 32;
                var color = item.Estado == "Reservado" ? "bg-red-500" :
                item.Estado == "Temporal" ? "bg-yellow-300" :
                "bg-green-500";
                <a href="@Url.Action("ReservarTemporalmente" , "SelectingPositions" , new 
                    {
                        idFuncion = item.IdFuncion,
                        IdSillaPorFuncion = item.IdSillaNavigation.Id,
                    })" class=" btn border p-2 m-1 rounded text-white @color">
            @($"{item.IdSillaNavigation.Fila}{item.IdSillaNavigation.Numero} - ")
        </a>
                }
        }

        <div class="mt-10 w-full space-y-2">
            <a href="@Url.Action("Index", "PaymentdGetAway" )" class="btn btn-success w-full">Pagar</a>
            <button class="btn btn-error w-full" onclick="Abandonar()">Abandonar</button>
        </div>

        <div class="text-center bg-amber-200 p-5 m-5 ">
            <h2>Tienes <strong>5 minutos</strong> para terminar la compra</h2>
            <form asp-action="UpdateEverythingSeats" asp-controller="SelectingPositions" >
                <button type="submit" class="btn btn-success">Actualizar puestos</button>
            </form>
            <span class="text-gray-700">Eliminara las sillas las cuales tengan el plazo vencido</span>
        </div>

        <div class="collapse bg-base-100 border border-base-300">
            <input type="radio" name="my-accordion-1" checked="checked" />
            <div class="collapse-title font-semibold text-center">Información sobre
                @Model.funcionDto.IdPeliculaNavigation?.Titulo</div>
            <div class="collapse-content text-sm">
                <div class="max-w-md mx-auto my-6">
                    <div class="card shadow-xl bg-base-100">
                        <div class="card-body">
                            <h2 class="card-title text-2xl font-bold">Función #@Model.funcionDto.Id</h2>
                            <div class="space-y-2">
                                <p><span class="font-semibold">Sala:</span> @Model.funcionDto.IdSalaNavigation?.Nombre
                                </p>
                                <p><span class="font-semibold">Película:</span>
                                    @Model.funcionDto.IdPeliculaNavigation?.Titulo</p>
                                <p><span class="font-semibold">Fecha y hora:</span>
                                    @Model.funcionDto.FechaHora?.ToString("g")</p>
                                <p><span class="font-semibold">Precio:</span> $@Model.funcionDto.Precio?.ToString("F2")
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

